<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<!-- 自动扫描该包 -->
	<context:component-scan base-package="com.restaurant" />
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/orderlist" />
			<bean class="com.restaurant.interceptor.OrderListInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 过滤静态资源不被拦截 -->
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/image/" mapping="/image/**"></mvc:resources>
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="10" />
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="order" value="9"/> <property name="prefix" value="/WEB-INF/errors"/> 
		<property name="suffix" value=".jsp"/> </bean> -->
	<!-- 默认静态资源 -->
	<mvc:default-servlet-handler />
	<!-- 默认配置映射器与适配器 -->
	<mvc:annotation-driven >
	<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
			<property name="supportedMediaTypes">
				<list><value>application/json;charset=utf-8</value></list>
			</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
</beans>

